body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#header{
	background: #f4f4f4;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#header .controls{
	position: absolute;
	bottom: 0;
	width: 100%;
	height:26px;
	margin-bottom: 20px;
}

#header .wrap{
	height:101px;
}

.wrap{
	width:901px;
	margin:auto auto;
	position:relative;
}

.nav{
	position: relative;
	height: 17px;
	margin-bottom: 14px;
	margin-top: 16px;
	
}

.calendar{
	width: 100%;
	border-collapse: collapse;

}

.calendar td{
	height: 119px;
	border: 1px solid #ebebeb;
	font-size: 11px;
	color: #999;
	width: 113px;
	overflow: hidden;
	vertical-align: top;

	padding: 0;
	position: relative;
	overflow: visible;

}

.calendar b, .calendar .participants{
	color:#666;
	word-break: break-word;
}

.search{
	float: right;
	background-image: url('search.png');
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left center;
	position: relative;

}

.search input{
	width:200px;
	outline:none;
	border-radius:2px;
	border:1px solid #b1b1b1;
	height:26px;
	padding:0 7px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);
	font-size:12px;
}



button.blue{
	background-color: #0271c7;
	color: white;
	border: 0;
	border-radius: 2px;
	height: 26px;
	padding: 0 11px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	font-size: 13px;
	float:left;
	margin-right: 10px;
	
}


.controls button:hover {
box-shadow: none;
cursor: pointer;
}


.controls button:active, .controls button.active{

	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.6);

	text-shadow: none;
}


.nav button {
	height: 17px;
	min-width: 17px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: white;
	border: 0px;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
	border-radius:3px;
	display:inline-block;
	float:left;
	margin-right:5px;
	font-size:12px;
	cursor:pointer;
}

.nav button.left {
	background-image: url('arrow_left.png');
}
.nav button.right {
	background-image: url('arrow_right.png');
}

.nav span{
	display: block;
	float: left;
	margin-right: 5px;
	font-size: 16px;
	min-width: 120px;
	text-align: center;
}






button:active {
outline:none;}

td.has_event{

background-color: #c2e4fe;
}



.popup_createNew{
position: absolute;
width: 261px;
background-color: white;
z-index: 20;
border: 1px solid #ccc;
border-radius: 2px;
left: 1px;
top: 42px;
box-shadow: 0 1px 10px rgba(0,0,0,0.4);
padding: 24px 21px;
display: none;
}


.popup_createNew .daw{
	background-image: url('daw-top.png');
	position: absolute;
	top: -13px;
	height: 13px;
	width: 17px;
	left: 23px;
}



.cross {
	background-image: url('cross.png');
	height: 7px;
	width: 7px;
	position: absolute;
	right: 9px;
	top: 9px;
	cursor: pointer;
}

.popup_createNew input{
	width:257px;
	
	border-radius:2px;
	border:1px solid #b1b1b1;
	height:26px;
	padding:0 7px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);
	font-size:12px;
	margin-bottom:13px;
}


.wrap_buttonAdd{
	float: left;
	width: 80px;
	margin-right: 10px;
	height: 26px;
}


.popup_createNew button, .popup_editDay button{
	margin: 0px 12px 0 0px;
	font-size: 13px;
}

td .inner{

height: 96px;
width: 111px;
margin-left: -1px;
margin-top: -1px;
position: absolute;
padding: 10px 7px;
overflow:hidden;
clear: both; display: inline-block;
}

td a.IE_hover:hover .inner, td:active .inner, td .inner.active{
	cursor:pointer;
	border:#86c9fd 2px solid;
	padding:8px 9px 12px 5px;
	}
td .inner.active{
	background-color: #e5f1f9;
}

td.today{
	background-color: #f4f4f4;
}

td.today .date_label{
	font-weight: bold;
	color:666666;
}

.popup_editDay{
	position: absolute;
	width: 260px;
	background-color: white;
	z-index: 20;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.4);
	padding: 24px 21px;
	margin-left: 140px;
	margin-top: -20px;
	
}

.popup_editDay .error{
	color: rgb(216, 12, 12);
	font-size: 14px;
	margin-bottom: 15px;
	margin-right: 3px;
	line-height: 20px;
}

.popup_createNew .error{
	color: rgb(216, 12, 12);
	font-size: 14px;
	margin-bottom: 15px;
	margin-right: 3px;
	line-height: 20px;
}

.popup_editDay input{
	width:257px;
	border-radius:2px;
	border:1px solid #b1b1b1;
	height:26px;
	padding:0 7px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);
	font-size:12px;
	margin-bottom:5px;
}


.popup_editDay textarea{
	width:257px;
	border-radius:2px;
	border:1px solid #b1b1b1;
	height:109px;
	padding:0 7px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);
	font-size:12px;
	margin-bottom:22px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 7px;
	margin-top: 32px;
}


.popup_editDay .daw{
	background-image: url('daw-left.png');
	position: absolute;
	top: 24px;
	height: 17px;
	width: 13px;
	left: -13px;
}

.popup_editDay .title{
	color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    word-wrap: break-word;
    max-height: 100px;
    overflow: auto;
    word-wrap: break-word;
	max-height: 100px;
	overflow: auto;
}

.popup_editDay .date{
    color: black;
    margin-bottom: 15px;
}


.popup_editDay .section{
    color: #666;
    font-weight: bold;
    margin-bottom: 4px;
}


.popup_editDay .participants{
    margin-bottom: 10px;
    color: black;
    word-wrap: break-word;
    max-height: 200px;
	overflow: auto;

}


.popup_editDay .description{
    color: black;
    margin-bottom: 15px;
    word-wrap: break-word;
    max-height: 200px;
	overflow: auto;

}









.popup_search{
position: absolute;
width: 213px;
background-color: white;
z-index: 20;
border: 1px solid #ccc;
border-radius: 2px;
left: 1px;
top: 42px;
box-shadow: 0 1px 10px rgba(0,0,0,0.4);
margin-left: 24px;
max-height: 500px; 	
display:none;
	
}

.popup_search input{
	width:257px;
	border-radius:2px;
	border:1px solid #b1b1b1;
	height:26px;
	padding:0 7px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);
	font-size:12px;
	margin-bottom:5px;
}


.popup_search textarea{
	width:257px;
	border-radius:2px;
	border:1px solid #b1b1b1;
	height:109px;
	padding:0 7px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);
	font-size:12px;
	margin-bottom:22px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 7px;
	margin-top: 32px;
}


.popup_search .daw{
	background-image: url('daw-top.png');
	position: absolute;
	top: -13px;
	height: 13px;
	width: 17px;
	left: 23px;
}



.popup_search .element{
height: 43px;
border-top: 1px solid #ebebeb;
margin-left: 4px;
margin-right: 4px;
}

.popup_search .element:first-child { border-top:none; }

.popup_search .finded_elements {
padding: 4px;
overflow: auto;
max-height: 250px;
}

.finded_elements .inner{
padding: 4px 8px 4px 8px;
margin-left: -4px;
width: 168px;
display: block;
}

.finded_elements .inner:hover{
background-color: #27a1ff;
color:white;
cursor: pointer;
}

.finded_elements .inner:hover .date{
color:white;
	}

.finded_elements .name{
	font-weight: bold;
font-size: 13px;
}

.finded_elements .date{
font-size: 13px;
color: #666;
}



.global_error{
	position: fixed;
	background-color: rgb(255, 147, 147);
	color: white;
	padding: 20px;
	border-radius: 0 0 10px 0;
	display:none;
}